// functionの練習
@function double($size) {
  @return $size * 2px;
}

// mixinの練習
@mixin double_block1($size) {
  font-size: $size * 2px;
}

// mixinの練習
@mixin double_block2($size) {
  font-size: $size * 2px;
  @content
}

p {
  font-size: double(20);
}

a {
  @include double_block1(10);
}

span {
  color: red;
  @include double_block1(5);
}
